@using StudentManagement.Models;
@model IList<tblGrade>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách chức năng</h2>

        <p>

        <section class="section dashboard">
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body mt-4">
                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th class="col-1 text-center">STT</th>
                                        <th class="col-1 text-center">Mã khối</th>
                                        <th class="col-1 text-center">Tên khối</th>
                                        <th class="col-1 text-center">Mô tả</th>
                                        <th class="col-1 text-center">Hiện thị</th>
                                        <th class="col-1 text-center">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int stt = 0; // 1. Khai báo và khởi tạo biến đếm
                                    }
                                    @foreach (var item in Model)
                                    {
                                        stt++; // 2. Tăng biến đếm cho mỗi mục
                                        <tr>
                                            <td class="text-center" scope="row">@stt</td>
                                            <td class="text-center" scope="row">@item.GradeID</td>
                                            <td class="text-left text-primary text-center" scope="row">
                                                <a asp-area="Admin" asp-controller="QLKhoi" asp-action="Details"
                                                    asp-route-id="@item.GradeID">
                                                    @item.GradeName
                                                </a>
                                            </td>
                                            <td class="text-center" scope="row">@item.Description</td>
                                            <td class="text-center">
                                                <form asp-area="Admin" asp-controller="Grade" asp-action="ToggleStatus"
                                                    method="post">
                                                    <input type="hidden" name="id" value="@item.GradeID" />
                                                    <div class="form-check form-switch d-flex justify-content-center">
                                                        <input class="form-check-input toggle-status-switch" type="checkbox"
                                                            name="IsActive" @(item.IsActive ? "checked" : "")
                                                            onchange="this.form.submit()" />
                                                    </div>
                                                </form>
                                            </td>

                                            <td class="text-center" scope="row">
                                                <a asp-area="Admin" asp-controller="Grade" asp-action="Edit"
                                                    asp-route-id="@item.GradeID" class="btn btn-primary btn-sm"
                                                    title="Edit the Grade"><i class="bi bi-pencil"></i></a>
                                                <a asp-area="Admin" asp-controller="Grade" asp-action="Delete"
                                                    asp-route-id="@item.GradeID" class="btn btn-danger btn-sm"
                                                    title="Delete the Grade"><i class="bi bi-trash"></i></a>

                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </p>


    </div>
</main>