@using StudentManagement.Models
@model IList<tblStudentClass>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách Học sinh - Lớp học</h2>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">#</th>
                                    <th class="col-3 text-center">Mã Học sinh</th>
                                    <th class="col-3 text-center">Tên Học sinh</th>
                                    <th class="col-3 text-center">Lớp</th>
                                    <th class="col-1 text-center">Đang học</th>
                                    <th class="col-2 text-center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">@item.StudentClassID</td>
                                        <td class="text-center">@item.StudentID</td>
                                        <td class="text-center">@item.student?.FullName</td>
                                        <td class="text-center">
                                            @(item._class != null ? $"{item._class.ClassName} | Khối: {item._class.grade?.GradeName} | Năm học: {item._class.SchoolYear}" : "")
                                        </td>

                                        <td class="text-center">
                                            <form asp-controller="StudentClass" asp-action="ToggleStatus" method="post">
                                                <input type="hidden" name="id" value="@item.StudentClassID" />
                                                <div class="form-check form-switch d-flex justify-content-center">
                                                    <input class="form-check-input toggle-status-switch" type="checkbox"
                                                        name="IsActive" @(item.IsActive == true ? "checked" : "")
                                                        onchange="this.form.submit()" />
                                                </div>
                                            </form>
                                        </td>
                                        <td class="text-center">
                                            <a asp-controller="StudentClass" asp-action="Edit"
                                                asp-route-id="@item.StudentClassID" class="btn btn-primary btn-sm"
                                                title="Sửa">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            <a asp-controller="StudentClass" asp-action="Delete"
                                                asp-route-id="@item.StudentClassID" class="btn btn-danger btn-sm"
                                                title="Xóa">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
